header {
    text-align: center;
    margin-top: 0;
}
nav {
    background: grey;
    border: white .3em solid;
    border-radius: 50px;
}
h1 {
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Amatic", sans-serif;
}

h2 {
    color:white;
    font-family: "Amatic", sans-serif;
    padding-left: 3em;
    text-align: center;
}

h3 {
    color: white;
    font-family: "Amatic", sans-serif;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
    font-family: "Amatic", sans-serif;
}
body {background-color: black;
}

blockquote {
    color:white;
    font-family: "Amatic", sans-serif;

}

ul {    color:white;
    font-family: "Amatic", sans-serif;
}
p {
    color:white;
    font-family: "Amatic", sans-serif;
    text-align: justify;
}
legend {
    color:white;
    font-family: "Amatic", sans-serif;
}

a { color: maroon }

a:hover { color: red }

blockquote { text-align: left;
     padding-left: 3em;
     padding-right: 5em;
}

 footer { text-align: center;
        color: white;
    }